 <body>
    <p>WHY ARE WE HERE?<br>TO CODE!<br>WHAT ARE WE DOING?<br>CODING!<br>WHAT SHOULD WE DO!<br> CODE! CODE! CODE!</p>   
<table>
  <tr>
    <th><a href=".">Home</a></th>
    <th><a href="https://github.com/wiz124/individual/issues/2">Review ticket</a></th>
    <th><a href=" https://replit.com/@HarryLi11/individual#Main.java">Replit code</a></th>
    <th>
      <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
        <a href="#">TT0</a>
          <p>More Coming soon!</p>
   </div>
</div>
    </th>
  </tr>
</table>
 <hr>
